.video {
  width: 100%;
  height: 100%;
  // background-color: #ddd;

  .on {
    display: none;
  }

  iframe {
    position: absolute;
    top: 450px;
    left: 540px;
  }
  #closeBtn {
    position: absolute;
    top: 450px;
    right: 490px;
    font-size: 35px;
    color: var(--themecolor);
    cursor: pointer;
  }
}
